.idea
*.pyc
*.zip
*.pth
tools/*
pretrains
assets/samples
outputs/results
outputs/checkpoints/running
*debug.sh
*debug.py
*build
*dist
thirdparty/neural_renderer/files.txt
piao_scripts
.vscode
nathan.png
doc/bug_list.md